<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stomhong">

    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.WebViewActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.IntroAndGuideActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />

        <service
            android:name=".base.BaseService"
            android:enabled="false"
            android:exported="false" />

        <receiver
            android:name=".base.BaseBroadcastReceiver"
            android:enabled="false"
            android:exported="false" />

        <service
            android:name=".base.BaseIntentService"
            android:exported="false" />

        <provider
            android:name=".base.BaseContentProvider"
            android:authorities="com.stomhong"
            android:enabled="false"
            android:exported="false">

        </provider>
    </application>

</manifest>